body {
    font-family: 'Red Hat Mono', monospace;
    color: black;
    background: #108dc7;
    background: -webkit-linear-gradient(to top, #ef8e38, #108dc7);
    background: linear-gradient(to top, #ef8e38, #108dc7);
}

.h-100{
    width: 100vw;
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    color: azure;
    text-decoration: overline;
    background-color: #00010ea1;    
    font-size: small;
    padding: 3px;
}

h1 {
    font-family: 'Martian Mono', monospace;
    font-weight: 500;
    color: black;
    font-size: 50px;
    text-shadow: 0 3px 3px rgba(0,0,0,.5);
}

li{
    list-style: none;
}

h3 {
    font-family: 'Martian Mono', monospace;
    font-weight: 400;
    color: black;
}

/* Container fluid right and bottom */
body > div:nth-child(2){
    background: #108dc7;
    background: -webkit-linear-gradient(to top, #ef8e38, #108dc7);
    background: linear-gradient(to top, #ef8e38, #108dc7);
}

#midcol > div > div > div{
    width: 100%;
    background-color: #ef8e3800;
    --bs-gutter-x: 0rem;

}

/* Animation elements*/

.animate__rubberBand{
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

/* Buttons */

#comment_btn{
    width: 8vw;
    padding: 16px;
    margin: 2px;
    border-width: 10px;
    position: absolute;
    margin-top: 0;
    margin-left: 170px;
    font-family: 'Martian Mono';
    font-weight: 600;
    color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
/* Create post Button */
#midcol > h2 > form > button{
    width: fit-content;
    padding: 12px;
    border-width: 10px;
    margin: 31px;
    color: black;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#midcol > div > button{
    font-family: 'Martian Mono';
    width: 94px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

/* messages navbar */

.section{
    display: flex;
    flex-direction: column;
}
.main{
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-shadow: 0 3px 3px rgba(0,0,0,.5);
}

#midcol > div > div:nth-child(3) > p:nth-child(3) > strong{
    border-inline: 20px;
}
.alert {
    margin-top: 20vh;
    margin-left: 8vw;
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 0rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

#userimg{
    margin-top: 0;
}

.messages{
    position: absolute;
    justify-content: center;
    font-size: medium;
    margin-left: 10vw;
}

.card{
    --bs-card-bg:#ebac75;
}

h2 {
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    color: black;
    text-shadow: 0 3px 3px rgba(0,0,0,.5);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    margin-inline: 5px;
}

#leftcol,
#midcol,
#Rightcol {
    height: 65vh;
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row{
--bs-gutter-x: 0.5rem;
}

.nav-item {
    list-style-type: none;
    z-index: 999;
}

footer {
    margin-bottom: 0%;
}

/* container above footer */
body>div:nth-child(3) {
    height: 500px;
}

body>div.row>div.col-md-3 {
    height: 200px;
}

/* Edit Profile */

/* Edit profile card */
#midcol > form > fieldset > div{
    background-color: #4b96b9;
    align-items: self-end;
    padding-inline-end: 78px;
    padding-top: 20px;
}

#midcol > div > form > fieldset > div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #4b96b9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
}
/* navbar */
#star{
    height: 200px;
    margin-left: 12vw;
}

.nav-link{
    background: #108dc7;
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff;
    --bs-nav-link-disabled-color: #ffffff7a;
}
.nav-link{
    color: #fff;
}

#Rightcol > div{
    padding: 20px;
}

#Rightcol > div:hover{
    padding: 20px;
    display: block;
}

.dropdown-menu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --bs-dropdown-bg: #108dc7;
    --bs-dropdown-divider-bg: #ffffff82;
    color: #ffffffab;
    --bs-dropdown-link-color: #ffffffcc;
}

/* Search Icon */
#search_button{
    color: #00fff5;
    text-decoration: none;
    background-color: #025464;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
.navbar {
    background-color: rgb(2, 84, 100);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.dropdown-divider{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

/* Register/ Login Page */

body>div.wrapper>div>div>div.col-6.col-md-6>div>form>fieldset {
    padding: 30px;
}

/* Profile page fields */
#midcol > container > section:nth-child(1) {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: start;
    align-items: flex-start;
    background: #00000021;
    color: lavenderblush;
    font-family: fangsong;
    padding: 15px;
    border-radius: 3%;
    width: 709px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #4b96b9;
}

.d-flex{
    align-items: flex-start;
}
#card{
      margin-left: 20%;  
      width: 20vw;
      /* --bs-gutter-x: 15rem; */
      background-color: #ef8e38;
}

.shadow {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.15)!important;
    background-color: #54b5bb;
}

/* || General styles */

.form {
    border: 4px solid black;
    margin: 0 auto;
    padding: 40px;
    width: fit-content;
    font-family: 'Martian Mono', monospace;
    font-weight: 200;
    justify-content: center;
}

.li {
    list-style: none;
}

#header {
    background-color: rgb(38, 58, 41);
    height: 10vh;
}

/* Navbar container  */
body>div:nth-child(1) {
    height: 200px;
}

/* left side navbar */
body>div:nth-child(1)>div>div:nth-child(1) {
    height: 200px;
    background-color: rgb(229, 124, 35);
}

/* middle navbar */
body>div:nth-child(1)>div>div.col-md-6 {
    background: #108dc7;
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
    background: linear-gradient(to right, #ef8e38, #108dc7);
    height: 200px;
    font-family: "Epilogue", sans-serif;
    height: 200px;
    font-weight: 400;
}

/* right side navbar */
body>div:nth-child(1)>div>div:nth-child(3) {
    height: 200px;
    background: #108dc700;
}

/* Members */

#midcol > ul{
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Home */

.center{
    background-color: #ffffff00;
    box-shadow: none;
}

body>div.wrapper>div:nth-child(1)>div>div:nth-child(1) {
    height: 218px;
    background-color: rgb(229, 124, 35);
}


body>div.wrapper>div:nth-child(1)>div>div.col-md-6 {
    background-color: rgb(242, 227, 219);
}


body>div.wrapper>div:nth-child(1)>div>div:nth-child(3) {
    background-color: rgb(2, 84, 100);
    height: 218px;
}

body>div.wrapper>div:nth-child(1)>div>div.col-md-6>form {
    margin: 20px;
}

body>div.wrapper>div:nth-child(2)>div>div:nth-child(1) {
    height: 600px;
    position: sticky;
    background-color: rgb(229, 124, 35);

}

body>div.wrapper>div:nth-child(2)>div>div:nth-child(3) {
    height: 600px;
    position: sticky;
    background-color: rgb(2 84 100);
}

div.row {
    background-color: rgb(242 227 219 / 0%);
}


/* Left home col */

body>div:nth-child(2)>div>div:nth-child(1) {
    height: 218px;
}

#Firstcol {
    background-color: #f0f8ff00;
}


body>div:nth-child(3)>div>div:nth-child(1) {
    height: 1000px;
    background-color: rgb(229, 124, 35);
}

/* Lodge Forum */
#midcol > div > div{
    width: 58vw;
    background-color: #ebac7500;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    min-height: 12px;
}

#midcol > div > div> h5 > a {
    background-color: rgba(0, 0, 0, 0);
    color:brown;
}

/* gold frame in lodge forum */
#goldframe {
    border: 5px outset orange;
  }
  

body>div:nth-child(2)>div>div:nth-child(3) {
    height: 200px;
    background-color: rgb(2, 84, 100);
}

body>div:nth-child(3)>div>div:nth-child(3) {
    height: 1000px;
    background-color: rgb(2, 84, 100);
}

/* lodge site */

body>div:nth-child(2)>div>div:nth-child(3) {
    height: 200px;
    background-color: rgba(2, 84, 100, 0);

}

body>div:nth-child(3)>div>div:nth-child(3) {
    height: 1000px;
    background-color: rgb(2, 84, 100);
}

.box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 4px solid rgb(2, 84, 100);
    max-width: 700px;
}

#forum_form{
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Make Spotify Songs Look More Round */
iframe {
    border-radius: 5px;
    width: 288px;
    height: 233px;
}

/* Make the Spotify Results Fall Into the Same Row */
.col {
    display: inline-block !important;
}

.center {
    margin-left: 0vw;
    width: 100%;
}

#song_0,
#song_1,
#song_2
 {
    position: absolute;
    margin-top: 5%;
    margin: 2px;
}

.buscar-caja {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 40px;
    padding: 10px;
    z-index: 999;
}

.buscar-caja:hover>.buscar-txt {
    width: 240px;
    padding: 0 6px;
}

.buscar-caja:hover>.buscar-btn {
    background: white;
    color: black;
}

.buscar-btn {

    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #1DB954;
    cursor: pointer;
}

.buscar-btn>i {
    font-size: 18px;
}

.buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #333;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.btn-primary {
    background: #fff;
    color: #CB356B;
    border: none;
}

.song{
    margin: 0;
    height: 28vh;
}

#firstsongdiv{
    margin-bottom: 15vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

#secondsongdiv{
    display: flex;
    flex-direction: row-reverse;
}

.row{
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-content: space-around;
    align-items: center;
}
    @media (max-width: screen-xs-max) {
    .container {
      width: inherit;
    }
  }
  
  /* SM styling */
  @media (min-width: screen-sm-min) and (max-width: screen-sm-max) {
    .container {
      width: inherit;
    }
  }
    @media only screen and (max-width: 1024px) {

    #navbarSupportedContent>ul>li.nav-item>a {
        font-size: medium;
        z-index: 999;
    }
    }
    #comment_btn {
        width: 18vw;
    }

    body>div:nth-child(1)>div>div.col-md-6 {
        height: 348px;        
    }


    #profiledropdown {
        margin-bottom: 53px;
        margin-top: 10px;
    }

    body>div:nth-child(1) {
        height: 350px;
    }

    #Rightcol {
        margin-bottom: 0;
        z-index: -99;
        font-size: small;
        margin-top: 90px;
    }


    body>div:nth-child(1) {
        background: #108dc7;
        background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
        background: linear-gradient(to right, #ef8e38, #108dc7);
    }

    @media only screen and (max-width: 768px){ 

        /* Fix grid scss width on small devices */
        .row>* {
            width: 100vw;
            max-width: 100vw;
        }

    #leftcol,
    #midcol,
    #Rightcol {
    height: 0;
    }
    /* Vertical space between song rows */
        #midcol > div > div > div {
            margin-bottom: 9px;
            background-color: #ef8e3800;
            margin-bottom: 130px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: auto;
        }

    #lodgecards{
        width: !important45vw;
    }

    #midcol > div.buscar-caja{
        width: 40vw;
        margin-left: 7vw;
    }

    #midcol > div {
            width: 100vw;
            margin-top: 189px;
    }
    .buscar-caja {
        left: 30%;
    }

    #song-list{
        width: 100vw;
        margin-top: 25vh;
    }

    .card-columns{
        padding: 5px;
        width: 100vw;
    }
    #comment_btn{
        width: 36vw;
        padding: 16px;
        margin: 64px;
        border-width: 10px;
        position: relative;
        margin-top: 5vh;
    }
    /* menu button shift side to right */
    body > div:nth-child(1) > div > div.col-md-6 > nav > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 141px;
        flex-direction: row;
        align-items: center;
        margin-left: 461px;
    }
    p{
    font-size: larger;
    }
    }
    @media only screen and (max-width: 425px){ 
    iframe {
        border-radius: 11px;
        width: 347px;
    }

    .song{
        margin: 0;
        height: 28vh;
    }

    #alert{
        width: 47vw;
    }

    #userimg {
        margin-top: 0;
    }
    
    #leftcol, #midcol, #Rightcol {
        height: 0vh;
    }

    #Firstcol,
    #leftcol {
        height: 0;
        display: none;
    }

    #midcol > div > div {
    width: 100vw;
    }

    #midcol > div {
        margin-bottom: 80px;
        width: 100vw;
        margin-top: 24vh;
    }

    /* Edit Profile page */
    #midcol > container > section:nth-child(1) {
        flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    align-items: flex-start;
    padding: 2px;
    margin-top: 179px;
    }

    .card-columns{
        padding: 2px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5px;
        width: 100vw;
        }
    }
    #song_0,
    #song_1,
    #song_2,
    #song_4,
    #song_5
    {
        position: absolute;
        margin-top: 5%;
        margin: 2px;
        display: flex;
        max-width: 100vw;
        margin-left: 241px;
        margin-top: 28vh;
    }

    textarea{
        width: 44vw;
        margin-top: 10px;
        font-family: 'Martian Mono';
    }
    

    .h-100{
        width: 100vw;
        overflow-x: hidden;
    }
    
    @media only screen and (max-width: 325px){ 
        iframe { 
        border-radius: 5px;
        width: 265px;
        height: 85px;
    }
    body > div:nth-child(1){
        width: 270vw;
    }

    #midcol > h2 > form > button{
        width: 250px;
        height: 120px;
        font-size: 24px;
        background-color: #8fd38f;
        padding: 12px;
        border-width: 10px;
        margin: 31px;
        color: black;
        font-weight: 600;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    body > div:nth-child(1) > div > div.col-md-6 > nav > div > button{
        height: 48px;
        width: 322px;
    }
    /* menu container */
    body > div:nth-child(1) > div > div.col-md-6 > nav > div{
        display: flex;
        width: 315px;
        margin-left: -2vw;
        justify-content: left;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        align-content: flex-end;
    }
    /* menu button */
    body > div:nth-child(1) > div > div.col-md-6 > nav > div > button{
        height: 95px;
        width: 322px;
        background-color: #ffc107;
    }

    /* menu font bigger size */
    #navbarSupportedContent>ul>li.nav-item>a{
        font-size: xx-large;
    }
    #midcol > div > div > div {
        width: 100%;
        background-color: #ef8e3800;
        margin-bottom: 217px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-end;
        justify-content: flex-end;
    }
    }
