body {
    background-color: rgb(242, 227, 219);
}

h1 {
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 500;
    color: antiquewhite;
}

h2 {
    font-family: 'Tourney', cursive;
    font-weight: 300;
    color: antiquewhite;

}
/* || General styles */

a {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
}

#header {
    background-color: rgb(38, 58, 41);
    height: 10vh;
}

/* Navbar container  */
body > div:nth-child(1){
    height: 200px;    
}

/* left side navbar */
body > div:nth-child(1) > div > div:nth-child(1){
    height: 200px;
    background-color: rgb(229, 124, 35);
}

/* middle navbar */
body > div:nth-child(1) > div > div.col-md-6{
    background-color: rgb(232, 170, 66);
    height: 200px;
    font-family: 'Epilogue', sans-serif;
    height: 200px;
    font-weight: 400;
}
/* right side navbar */
body > div:nth-child(1) > div > div:nth-child(3){
    height: 200px;
    background-color: rgb(2, 84, 100);
}
/* Profile div */

body > div:nth-child(2) > div > div:nth-child(1){
    height: 200px;
    background-color: rgb(229, 124, 35);

}
body > div:nth-child(3) > div > div:nth-child(1){
    height: 1000px;
    background-color: rgb(229, 124, 35);
}
/* Lodge div */

body > div:nth-child(2) > div > div:nth-child(3){
    height: 200px;
    background-color: rgb(2, 84, 100);

}
body > div:nth-child(3) > div > div:nth-child(3){
    height: 1000px;
    background-color: rgb(2, 84, 100);
}



.form-control {
    margin-top: 20px;
    width: 20%;
    margin-inline: 10px;
}

#formGroupExampleInput3 {
    margin-bottom: 20px;
}

.list-group-item-danger {
    background-color: rgb(65, 100, 74);
    padding-top: 40px;
    padding-bottom: 40px;
}

.list-group-item-warning {
    background-color: rgb(38, 58, 41);
    padding-top: 40px;
    padding-bottom: 40px;
}

.list-group-item-info {
    background-color: rgb(232, 106, 51);
    padding-top: 40px;
    padding-bottom: 40px;
}