{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Post{% endblock %}
{% load crispy_forms_tags %}
{% block deletepost %}


<div class="mb-3 row">
    <div class="col-md-6">
        {% if user.is_authenticated %}
        <h2>Delete Post...</h2>
        <h3>Delete: {{ forum.title }}</h3>
        <form class="form-group" id="forum_form" rows="3" action="{% url 'addinlodge' %}" method="POST"></form>
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure ?!</strong><br />
            <button class="btn btn-success">Delete Forum !</button>
        </form>
        {% else %}
        Login to delete this forum !
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    </div>
    <div class="col-md-3">
    </div>
</div>
</div>

{%endblock%}