{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Edit profile{% endblock %}
{% block content %}

<h1>Bangrad Profile Page</h1>
<br/><br/>
<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Edit
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Edit Settings</a></li>
      {% if user.profile.id %}
      <li><a class="dropdown-item" href="{% url 'edit_profile_page' %}">Edit Profile</a></li>
      {% else %}
      <li><a class="dropdown-item" href="{% url 'create_profile' %}">Create Profile Page</a></li>
      {% endif %}
    </ul>
  </div>
<container class="container-fluid d-flex">
<section class="col-md-6 d-flex">
  {% if user.profile.image %}
  <img class="rounded-circle account-img" style="height: 150px; width: 150px;" src="{{ user.profile.image.url }}" />
  {% else %}
  <img class="rounded-circle account-img" style="height: 150px; width: 150px;" src="https://res.cloudinary.com/djunroohl/image/upload/v1691507833/sxnum1e7ukkawgek6rgo.png" />
  {% endif %}
<br/><br/>
<h2>{{ user.profile.first_name }} {{ user.profile.last_name }}</h2><br>
<div class="card" style="width: 25rem; padding: 10px; margin: 20px;">
{{ user.profile.bio }}
</div>
{% if user.profile.email %}
<div class="row bg-dark">
<div class="col-sm-3">
  <span class="h6 mb-0" style="width: 25rem; padding: 20px;">Email:   </span>
</div>
<div class="col-sm-9 text-secondary" style="text-justify: newspaper;">
<a href="{{ user.profile.email }}">{{ user.profile.email }}   </a><br>
</div>
</div>
{% endif %}
{% if user.profile.website_url %}
<a href="{{ user.profile.website_url }}">{{ user.profile.website_url }}</a><br>
{% endif %}
{% if user.spotify_artist %}
<label for="spotify_artist">Spotify</label>
<a href="{{ user.profile.spotify_artist }}">{{ user.profile.spotify_artist }}</a><br>
{% endif %}
{% if user.profile.instagram %}
<a href="{{ user.profile.instagram }}">{{ user.profile.instagram }}</a><br>
{% endif %}
{% if user.profile.facebook %}
<a href="{{ user.profile.facebook }}">{{ user.profile.facebook }}</a><br>
{% endif %}
{% if user.profile.twitter %}
<a href="{{ user.profile.twitter }}">{{ user.profile.twitter }}</a><br>
{% endif %}
{% if user.profile.mixcloud %}
<a href="{{ user.profile.mixcloud }}">{{ user.profile.mixcloud }}</a><br>
{% endif %}
{% if user.profile.soundcloud %}
<a href="{{ user.profile.soundcloud }}">{{ user.profile.soundcloud }}</a><br>
{% endif %}
{% if user.profile.youtube %}
<a href="{{ user.profile.youtube }}">{{ user.profile.youtube }}</a><br>
{% endif %}
{% if user.profile.link_1 %}
<a href="{{ user.profile.link_1 }}">{{ user.profile.link_1 }}</a><br>
{% endif %}
{% if user.profile.link_2 %}
<a href="{{ user.profile.link_2 }}">{{ user.profile.link_2 }}</a><br>
{% endif %}
{% endblock %}



