{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block corecss %}

{% endblock %}

{% block addinlodge %}


<div class="mb-3 row" >
    <div class="col-md-6">
        <h2 class="animate__zoomIn">Share some awesome music !</h2>
        <form class="form-control" id="forum_form" rows="3" action="{% url 'addinlodge' %}" method="POST">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                    </div>
                </div>
            </article>
            {% csrf_token %}
            {{form.media}} 
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Post">
        </form>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    </div>
    <div class="col-md-3">
    </div>
</div>
</div>
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{%endblock%}