{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="h-100">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;800&family=Red+Hat+Mono:ital,wght@0,300;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Bangers Radical Track Search</title>
</head>
<!-- Nav bar -->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="Firstcol">
              <img id="star" src="static/images/star.png" alt="star">
                <div class="col-md-8">
                </div>
              </div>
              <div class="col-md-6">
              <section class="section">
                <h1 class="main">Bangrad
                  <message class="messages">  
                      {% if messages %} {% for message in messages %}
                      <div id="alert" class="alert alert-{{ message.tag }}">{{ message }}</div>
                      {% if user.profile.image %}
                      <img height="100" class="rounded-circle alert alert-{{ message.tag }}" src="{{ user.profile.image.url }}"/>
                      {% endif %}
                      {% endfor%} {% endif %} {% block message %}{% endblock %}
                  </h1>
                  </message>
              </section>
                <h2>Radical Track Search</h2>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                          </li>
                          <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                            {% else %}
                            <a class="nav-link disabled" >Profile</a>   
                            {% endif %}
                          </li>
                          <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            {% endif %}
                          </li>
                          <li class="nav-item">
                            {% if user.is_authenticated %}
                            {% else %}
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                          </li>
                          <li class="nav-item">
                            {% if user.is_authenticated %}
                            {% else %}
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                              Dropdown
                            </a>
                            <ul class="dropdown-menu">
                              <li><hr class="dropdown-divider">Music discovery</li>
                              <li><a class="dropdown-item" href="https://radiooooo.com/" target="_blank">RADIOOOO</a></li>
                              <li><a class="dropdown-item" href="https://www.loudly.com/ai-recommender" target="_blank">LOUDLY- AI</a></li>
                              <li><a class="dropdown-item" href="https://everynoise.com/" target="_blank">EVERY NOISE</a></li>
                              <li><a class="dropdown-item" href="https://hypem.com/latest/all" target="_blank">HYPEM</a></li>
                              <li><a class="dropdown-item" href="https://www.discogs.com/" target="_blank">DISCOGS</a></li>
                              <li><a class="dropdown-item" href="https://open.spotify.com/" target="_blank">SPOTIFY</a></li>
                              <li><hr class="dropdown-divider">Music streaming sites</li>
                              <li><a class="dropdown-item" href="https://tidal.com/" target="_blank">TIDAL</a></li>
                              <li><a class="dropdown-item" href="https://www.youtube.com/musicpremium" target="_blank">YOUTUBE MUSIC</a></li>
                              <li><a class="dropdown-item" href="https://www.apple.com/apple-music/" target="_blank">APPLE MUSIC</a></li>
                              <li><a class="dropdown-item" href="https://music.amazon.com/" target="_blank">AMAZON MUSIC</a></li>
                              <li><hr class="dropdown-divider">Contact</li>
                              <li><a class="dropdown-item" href="t.spare.jkpg@gmail.com">Say Hi !</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'memberlist' %}">Members</a>
                            {% else %}
                            <a class="nav-link disabled">Members</a>
                            {% endif %}
                          </li>
                          <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'lodge' %}">Forum</a>
                            {% else %}
                            <a class="nav-link disabled" >Forum</a>
                            {% endif %}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>

            </div>
            <div class="col-md-3">
              {% if user.is_authenticated %}
             {% block memberlist %}
             {% endblock %}
             {% else %}
             {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

          {% block signup %}

            {%endblock%}

            <div class="col-sm-1 col-md-3" id="leftcol">
               


            </div>
            <div class="col-md-6" id="midcol">
              {% block edit_profile_page %}

              {%endblock%}
                {% block lodgetalk %}

                <!-- add in discussion -->
    
                {%endblock%}
                {% block content %}

                <!-- Content Goes here -->

                {% endblock%}

                {% block login %}

                <!-- Login opens up profile area after succesful login -->

                {%endblock%}
                
                {% block lodge %}

                <!-- Active forums in lodge -->

                {%endblock%}

                {% block addinlodge %}

                <!-- Create new thread in lodge -->

                {% endblock%}


                {% block spotipy %}

                {%endblock%}

                {% block profile %}

                <!-- Profile -->

                {%endblock%}

            </div>
            <div class="col-md-3" id="Rightcol">
                <div class="bg-primary text-white">
                    <h2>HOW TO SEARCH</h2>
                    <p>Narrow down your search using filters
                        album, artist, track, year, upc, tag:hipster, tag:new, isrc, and genre<br>
                        <br>
                        Example:<br>
                        <br>
                        techno, album:new<br>
                        will return techno albums released within 2 weeks<br>
                        <br>
                        The artist and year filters can be used while searching albums, artists and tracks. You can
                        filter
                        on a single year or a
                        range (e.g. 1955-1960).

                        The album filter can be used while searching albums and tracks.
                        The genre filter can be used while searching artists and tracks.
                        The isrc and track filters can be used while searching tracks.

                        The upc, tag:new and tag:hipster filters can only be used while searching albums.
                        The tag:new filter will return albums released in the past two weeks
                        tag:hipster can be used to return only albums with the lowest 10%
                        popularity.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous">
    </script>
</body>

</html>