{% extends "base.html" %}
<!-- Search form container -->
   {% block content %} 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"><a id="goto profile" href="{% url 'profile' %}">Profile</a></div>
                <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data">
 
                    <!-- Security token -->
                    {% csrf_token %}
                
                    <!-- Using the formset -->
                    {{ form.as_p }}
                    
                    <input type="submit" value="Submit">
                    </form>       
                </div>
                <div class="col-md-3"><a id="goto lodge" href="{% url 'lodge' %}">Lodge</a></div>
            </div> 
        </div>
<!-- Results container  -->
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><a id="goto profile" href="{% url 'profile' %}">Profile</a></div>
            <div class="col-md-6">Search Results</div>
            
            <div class="col-md-3"><a id="goto lodge" >Lodge</a></div>
    
        </div>
    </div>
    {% endblock content %}
