{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block lodge %}
<h2 class="jumbotron">
    Currently active forums: {{ count }}
    <form method="POST" action="{% url 'addinlodge' %}">
        {% csrf_token %}
        <button class="btn btn-outline-success">Create a post</button>
    </form>
</h2>
<div class="card-columns">

{% for forum in forums %}


<div class="card box container" 
style="
width: 40rem;
background-color: #ebac75;
display: flex;
align-items: center;
flex-wrap: wrap;
margin-bottom: 5rem;
min-height: 399px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <br>
    {{ forum.body|safe }}
    <h5 class="card-title">
        Music Link:
        <a href='{{forum.link}}' target="_blank">
            <h4>{{ forum.topic }}</h4>
        </a>
    </h5>
        <div class="card-body container">
            <strong>Subject: {{ forum.description }}</strong>
<br/><br/>

    <img class="rounded-circle account-img" style="height: 50px; width: 50px;" src="{{forum.author.profile.image.url}}" alt="author_picture">
    <h5 class="card-title"> By: <strong>{{ forum.author }}</strong> - <small>
        
        {% if user.is_authenticated %}
        {% if user.id  == forum.author.id %}
        <a href="{% url 'update_post' forum.pk %}">Edit</a>
        <a href="{% url 'deletepost' forum.pk %}">Delete</a>
        {% endif %}
        {% endif %}
    <p>{{ forum.date_added }}</p>
    </small></h5>
    <p class="small text muted">
        {% if forum.author.profile.facebook %}
        <a href="{{forum.author.profile.facebook}}">Facebook</a>
        {% endif %}
        {% if forum.author.profile.instagram %}
        <a href="{{forum.author.profile.instagram}}">instagram</a>
        {% endif %}
        {% if forum.author.profile.spotify_artist %}
        <a href="{{forum.author.profile.spotify_artist}}">Spotify</a>
        {% endif %}
        {% if forum.author.profile.soundcloud %}
        <a href="{{forum.author.profile.soundcloud}}">Soundcloud</a>
        {% endif %}
        {% if forum.author.profile.mixcloud %}
        <a href="{{forum.author.profile.mixcloud}}">Mixcloud</a>
        {% endif %}
        {% if forum.author.profile.youtube %}
        <a href="{{forum.author.profile.youtube}}">Youtube</a>
        {% endif %}
    </p>
        <div class="card">
            <div class="card-body">
                {{ forum.author.profile.bio }}
            </div>
        </div>
    <br/><br/>
    <div>
        <form method="POST" action="{% url 'lodgetalk' %}">
            {% csrf_token %}
            <button id="comment_btn" class="btn btn-outline-warning">Comment</button> 
        </form>
        <br/><br/>
        <br/><br/>
    <h4 class="small muted">Comments:</h4>
    </div>
    {% for discuss in discussions %}
    {% for objs in discuss %}
    {% if objs.forum == forum %}
    {{ objs.discuss }} - {{ objs.name }}
    <br>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
</div>
{% endfor %}
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>