{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block lodge %}
<h2 class="jumbotron">
    Currently active forums: {{ count }}
    <form method="POST" action="{% url 'addinlodge' %}">
        {% csrf_token %}
        <button class="btn btn-outline-success">Create a post</button>
    </form>
</h2>
<div class="card-columns" style="padding: 10px; margin: 20px;">

{% for forum in posts %}

<div class="card box container" 
style="width: 40rem;
background-color: #ebac75;
display: flex;
align-items: center;
flex-wrap: nowrap;
margin-bottom: 5rem;">
    <br>
    {{ forum.body|safe }}
    <h5 class="card-title">
        <a href='{{forum.link}}' target="_blank">
            <h4>{{ forum.topic }}</h4>
        </a>
        <div class="card-body container">
            <p>{{ forum.description }}</p>
    </h5>
    <img class="rounded-circle account-img" style="height: 50px; width: 50px;" src="{{forum.author.profile.image.url}}" alt="author_picture">
    <h5 class="card-title"> By: <p>{{ forum.author.profile.first_name }} {{ forum.author.profile.last_name }}</p> - <small>
        
        {% if user.is_authenticated %}
        {% if user.id  == forum.author.id %}
        <a href="{url 'updatepost' forum.pk}">Edit</a>
        <a href="{url 'deletepost' forum.pk}">Delete</a>
        {% endif %}
        {% endif %}
    </small></h5>
    <p class="small text muted">
        {% if forum.author.profile.facebook %}
        <a href="{{forum.author.profile.facebook}}">Facebook</a>
        {% endif %}
        {% if forum.author.profile.instagram %}
        <a href="{{forum.author.profile.instagram}}">instagram</a>
        {% endif %}
        {% if forum.author.profile.spotify_artist %}
        <a href="{{forum.author.profile.spotify_artist}}">Spotify</a>
        {% endif %}
        {% if forum.author.profile.soundcloud %}
        <a href="{{forum.author.profile.soundcloud}}">Soundcloud</a>
        {% endif %}
        {% if forum.author.profile.mixcloud %}
        <a href="{{forum.author.profile.mixcloud}}">Mixcloud</a>
        {% endif %}
        {% if forum.author.profile.youtube %}
        <a href="{{forum.author.profile.youtube}}">Youtube</a>
        {% endif %}
    </p>
    <p class="card-text">
        {{ forum.author.profile.bio }}
    </p>
    <h4 class="small muted">Comments:</h4>
    {% for discuss in discussions %}
    {% for objs in discuss %}
    {% if objs.forum == forum %}
    {{ objs.discuss }}
    <br>
</div>
{% endif %}

    {% endfor %}
    {% endfor %}


{% endfor %}
<form method="POST" action="{% url 'lodgetalk' %}">
    {% csrf_token %}
    <button id="comment_btn" class="btn btn-outline-warning">Comment</button> 
</form>
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>