{% extends "base.html" %}{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"><a id="goto profile" href="{% url 'profile' %}">Profile</a></div>
                <div class="col-md-9"><a id="goto lodge" href="{% url 'lodge' %}">Lodge</a></div>
            </div> 
        </div>
<!-- Lodge container  -->
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><a id="goto profile" href="{% url 'profile' %}">Profile</a></div>
            <div class="col-md-9"><a id="goto lodge" >Lodge</a></div>
    
        </div>
    </div>
<h2 class="jumbotron">
            Currently active forums: {{count}}
            <form method="POST" action="{% url 'addInForum' %}">
                {% csrf_token %}
            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add more</button>
            </form>
        </h2>
            <div class="card-columns" style="padding: 10px; margin: 20px;"></div>
            
            
            {%for forum in forums %}
            
                <div class="card box container">
                    <br>
                    <h5 class="card-title">
                        <a href='{{forum.link}}'><h3>{{forum.topic}}</h3></a> 
                        <div class="card-body container">
                                <p>{{forum.description}}</p>
                            </h5>
                            <hr>
                            <p> By: {{forum.name}}</p>
                            email- {{forum.email}}
                            <hr>     
                            <h4>Views from other users</h4>
                            {%for discuss in discussions%}
                            {%for objs in discuss%}  
                            {% if objs.forum == forum %}
                               {{objs.discuss}}
                               <br>
                            {% endif %}
                            {%endfor%}
                            {%endfor%}
                            <form method="POST" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add more</button>
                            </form>
                        </div>
                </div>
            </div>
            <br>
            
            {%endfor%}
          
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 {% endblock content %}



